.sign-out-wrapper {
  width: 90vw;
  height: 5vh;
}

.sign-out-header {
  display: flex;
  justify-content: space-between;
}
.sign-out {
  cursor: pointer;
}
.sign-out-upper {
  text-transform: uppercase;
  cursor: pointer;
}
