.new-msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 44%);
  padding: 3px;
}
.new-group-msg-container {
  justify-content: flex-start;
  height: 99%;
}
.new-msg-modal {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: #f8f8f8; */

  /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%); */
  padding: 10px 40px 40px 40px;
  /* text-align: center;
  flex-direction: column; */
  /* box-shadow: 0px 0px 16px rgb(0 0 0 / 44%); */
}
.new-group-msg-input {
  height: 234px;

  overflow-y: scroll;
  overflow-x: hidden;
  /* border: solid; */
}
.new-msg-button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.exit-wrapper {
  display: flex;
  width: 99%;
  flex-direction: row;
  justify-content: center;
}

.exit {
  width: 99%;
  /* border: solid; */
  display: flex;
  justify-content: flex-end;
}

.exit-button {
  font-size: 30px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
