* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.mega-container {
  width: 100%;
  padding: -1px;
  position: absolute;

  height: 100%;
  transform: translateX(-300%);
  transition: transform 0.2s ease-out;
  /* border: solid; */
  /* background: #ededed; */
  background: rgb(255, 255, 255);

  /* background: rgb(248 249 240); */
}
.open {
  transform: translateX(0%);
}

.mega-menu-header {
  display: flex;
  padding: 10px 16px;
  border-bottom: 1px solid lightgray;
  justify-content: flex-start;
  background: #ededed;
  align-items: center;
}
.mega-menu-title-header {
  padding-bottom: 2px;
  padding-left: 0.5rem;
}
/*
.mega {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
 
}
.mega-img-name {
  
  display: flex;
  flex-direction: column;
}
.mega-img {
  display: flex;

  height: 150px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.name-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.mega-name {
  display: flex;
  
  padding-left: 0.5rem;
}

.mega-friends-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  background-size: auto 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 3px 4px 35px -3px rgb(0 0 0 / 50%);
  overflow-y: scroll;
}
.mega-list {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}
.mega-title {
  margin-bottom: 1rem;
}
.mega-friend {
  display: flex;
  align-items: center;
  
  
}

.mega-friend > p {
  margin-top: -1%;
  
  
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: flex;

  align-items: center;
  padding-left: 0.2rem;
}

.hidden {
  display: none;
} */

/* margin-bottom: 10px;
    background-color: rgb(255,255,255);
    box-shadow: 0 1px 3px rgba(0,0,0,0.08); */
