* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* position: relative; */
}

.mega-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0.35;
  padding: -1px;
  position: absolute;

  z-index: 50;
  height: 100%;
  transform: translateX(-300%);
  transition: transform 0.4s ease;
  /* border: solid; */
  /* background: #ededed; */
  background: rgb(255, 255, 255);

  /* background: rgb(248 249 240); */
}
.open {
  transform: translateX(0%);
}
.mega-menu-inner-container {
  overflow-y: scroll;
}
.mega-menu-inner-container::-webkit-scrollbar {
  width: 0px;
}
.mega-menu-inner-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.mega-menu-inner-container::-webkit-scrollbar-thumb {
  background-color: #cbd8dd;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.mega-menu-inner-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.mega-menu-header {
  display: flex;
  padding: 10px 16px;
  border-bottom: 1px solid lightgray;
  justify-content: flex-start;
  background: #ededed;
  align-items: center;
}
.mega-menu-header-title {
  padding-bottom: 2px;
  padding-left: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.mega-menu-header-title > h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.OptionDoAdd {
  height: 20px;
}
