.sidebarChat {
  display: flex;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid rgb(246, 246, 246);
  align-items: center;
}

.sidebarChat:hover {
  background: rgb(235, 235, 235);
}
.sidebarChat-info {
  margin-bottom: 8px;
}

.title-name > h2,
.last-message > p {
  font-size: 16px;
  margin: 0px;
  margin-left: 15px;
}
.sidebarChat-inner-info {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.empty-last-message {
  margin: 10.5px;
}
